header {
	grid-area: header;
}
footer {
	grid-area: footer;
}
aside {
	grid-area: main;
	width: 20%;
	float: left;
}
main {
	width: 90%;
	max-width: 1250px;
	margin: auto auto;
	grid-area: main;
}
nav {
	grid-area: nav;
}
section {
	grid-area: section;
}
#layout {
	grid-gap: 0px;
	display: grid;
	grid-gap: 0px;
	grid-template-areas:
		'nav'
		'header'
		'section'
		'main'
		'footer';
}
nav ul {
	float: right;
}
nav ul li {
	display: inline-block;
}
